---
interface Props {
  href: string;
  name: string;
}

const { href, name } = Astro.props;
const currentPath = Astro.url.pathname;

// Verificamos si la ruta actual coincide con el href proporcionado.
const isActive = currentPath === href;
---

<li>
  <a
    class="text-white mx-4 text-xl leading-tight truncate font-semibold"
    aria-label={`Ruta a ${name}`}
    href={href}
  >
    {name}
  </a>
  {
    isActive ? (
      <div
        transition:name="menu-line"
        class="border-b-4 md:mx-4 border-primary transition-all ease-in-out"
      />
    ) : (
      <div class="border-b-4 mx-4 border-transparent" />
    )
  }
</li>
