---

---

<div
  class="flex flex-col justify-center md:items-start md:text-left text-center"
>
  <span class="text-rose-500 text-2xl md:text-4xl font-bold"
    >POLITICA DE CALIDAD
  </span>
  <p class="my-2 text-lg text-slate-800 prose-xl leading-relaxed">
    Basados y comprometidos en la Norma Mexicana NMX-EC-17020-IMNC-2014 y en
    apego a las Normas Oficiales Mexicanas aplicables a la inspección de emisión
    de contaminantes, NOM-045-SEMARNAT-2017, NOM-167-SEMARNAT-2017, y inspección
    de condiciones físico mecánicas por la NOM-068-SCT-2-2014, operamos como UI
    de emisiones contaminantes e inspección físico mecánica, impulsando la
    mejora continua en busca de la competitividad ofreciendo siempre un servicio
    de calidad y eficiencia para nuestros clientes.
  </p>
</div>
